@font-face {
  font-family: 'Macan';
  src: url('./fonts/MacanPanWeb-Regular.eot');
  src: url('./fonts/MacanPanWeb-Extrabold.eot');
  src: url('./fonts/MacanPanWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/MacanPanWeb-Regular.woff2') format('woff2'),
       url('./fonts/MacanPanWeb-Regular.woff') format('woff'),
       url('./fonts/MacanPanWeb-Extrabold.woff') format('woff'),
       url('./fonts/MacanPanWeb-Regular.ttf')  format('truetype'),
       url('./fonts/MacanPanWeb-Regular.svg#Macan') format('svg');
}
* {
  .link {
    text-decoration: none;
    color: inherit;
  }
  body{
    font-family: "Macan";
  }
}