.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    @media screen and (min-width: 300px) and (max-width: 600px) {
     padding:20px 0;
     display: none;
    }
    .container {
      width: 1400px;
      position: relative;
      @media screen and (min-width: 300px) and (max-width: 600px) {
        width:100%;
      }
    }
  
    .carousel-initialized {
      position: static;
    }
  
    .carousel-prev,
    .carousel-next {
      width: 20px;
      height: 20px;
      background-color: rgb(243, 243, 243);
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  
    .carousel-prev {
      left: -25px;
    }
  }